body {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif};
    .done { text-decoration: line-through; color: gray; }
    #error-box { 
      color: red; 
      background: #ffe6e6; 
      padding: 20px; 
      border-radius: 5px; 
      margin: 10px 0; 
      display: none; 
      min-height: 100vh;
        
    }

